/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}
/*Algemene styling voor de header, body en footer*/

header{
    background-color: #002A32;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
}

body{
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #F2F5F5;
}

main.articleinfo{
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #F2F5F5;
}

footer{
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #002A32;
    color: white;
    width: 100%;
    margin-top: 50px;
}

/* de button met het hamburgermenu */

button{
    color: #002A32;
    z-index: 2;
    border-style: none;
    -webkit-appearance:none;
}

button img{
    display: flex;
    max-width: 95px;
    max-height: 95px;
    cursor: url('/images/PizzaCursor.png'), auto;
}

nav ul{
    z-index: 2;
    background-color: #002A32;
    list-style:none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 80px;
    left: 0;
    font-size: 23px;
    color: #00D6D6;
    transform: translatex(-100%);
    transition: 1s;
}

nav li{
    margin-left: 20px;
    margin-top: 20px;
    border-bottom-style: solid;
    border-bottom-color: white;
    padding-bottom: 5px;
    width: 80px;
    border-bottom-width: 5px;
}

.toonMenu {
  transform: translatex(0);
  transition: 1s;
}

header ul li a{
    color: #00D6D6;
    text-decoration: none;
}

header ul li a:visited{
    color: #00D6D6;
    text-decoration: none;
}

header ul li a:hover{
    color: #00D6D6;
    text-decoration: none;
    cursor: url('/images/PizzaCursor.png'), auto;
}

/* Rest van Header images */

img.linktohome{
    display: flex;
    width: 100vw;
    max-width: 100%;
    justify-content: center;
    height: 95px;
    max-height: 95px;
    cursor: url('/images/PizzaCursor.png'), auto;
    background-color: #002A32;
}

button img.search{
    background-color: #002A32;
    border: none;
    max-width: 280px;
    max-height: 95px;
    cursor: url('/images/PizzaCursor.png'), auto;
    -webkit-appearance: none;
    color: transparent;
}

/* Het zoekbalkje van de header */

section.inputfield{
    display: flex;
    width: 100%;
    height: 95px;
    background-color: black;
    top: 0;
    left: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    z-index: -1;
}

input{
    display: flex;
    background-color: black;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: aqua;
    width: 80%;
    position: absolute;
    height: 30px;
    color: white;
    font-size: 1em;
    font-weight: 800;
}

.toonInput {
  transform: translateY(100%);
  transition: 0.5s;
  z-index: 1;
  animation-name: inputField;
}

/* Einde styling van header */

/* Begin styling van body thuisscherm */

section.backgroundimage{
    width: 100%;
    height: 200px;
    background-color: #002A32;
    position: absolute;
    top: 0;
    left: 0;
    transform: skewY(-5deg);
    z-index: -1;
}

section.backgroundblocks{
    position: absolute;
    height: 350px;
    width: 100%;
    transform: skewY(3deg);
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%2300262d%22%20viewBox%3D%220%200%2014.3%20281%22%3E%3Ccircle%20cx%3D%223.3%22%20cy%3D%22133.2%22%20r%3D%221.7%22%2F%3E%3Ccircle%20cx%3D%223.3%22%20cy%3D%22147.1%22%20r%3D%221.7%22%2F%3E%3Ccircle%20cx%3D%223.3%22%20cy%3D%22161.4%22%20r%3D%221.6%22%2F%3E%3Ccircle%20cx%3D%223.3%22%20cy%3D%22175.8%22%20r%3D%221.4%22%2F%3E%3Ccircle%20cx%3D%223.3%22%20cy%3D%22190.2%22%20r%3D%221.3%22%2F%3E%3Ccircle%20cx%3D%223.3%22%20cy%3D%22204.7%22%20r%3D%221.1%22%2F%3E%3Ccircle%20cx%3D%223.3%22%20cy%3D%22219%22%20r%3D%221%22%2F%3E%3Ccircle%20cx%3D%223.3%22%20cy%3D%22233.5%22%20r%3D%22.8%22%2F%3E%3Ccircle%20cx%3D%223.3%22%20cy%3D%22247.9%22%20r%3D%22.7%22%2F%3E%3Ccircle%20cx%3D%223.3%22%20cy%3D%22262.3%22%20r%3D%22.7%22%2F%3E%3Ccircle%20cx%3D%223.3%22%20cy%3D%22276.6%22%20r%3D%22.6%22%2F%3E%3Cg%3E%3Ccircle%20cx%3D%223.3%22%20cy%3D%22118.9%22%20r%3D%221.6%22%2F%3E%3Ccircle%20cx%3D%223.3%22%20cy%3D%22104.5%22%20r%3D%221.4%22%2F%3E%3Ccircle%20cx%3D%223.3%22%20cy%3D%2290.1%22%20r%3D%221.3%22%2F%3E%3Ccircle%20cx%3D%223.3%22%20cy%3D%2275.7%22%20r%3D%221.1%22%2F%3E%3Ccircle%20cx%3D%223.3%22%20cy%3D%2261.3%22%20r%3D%221%22%2F%3E%3Ccircle%20cx%3D%223.3%22%20cy%3D%2246.9%22%20r%3D%22.8%22%2F%3E%3Ccircle%20cx%3D%223.3%22%20cy%3D%2232.5%22%20r%3D%22.7%22%2F%3E%3Ccircle%20cx%3D%223.3%22%20cy%3D%2218%22%20r%3D%22.7%22%2F%3E%3Ccircle%20cx%3D%223.3%22%20cy%3D%223.7%22%20r%3D%22.6%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Ccircle%20cx%3D%2210.7%22%20cy%3D%22125.8%22%20r%3D%221.6%22%2F%3E%3Ccircle%20cx%3D%2210.7%22%20cy%3D%22111.5%22%20r%3D%221.4%22%2F%3E%3Ccircle%20cx%3D%2210.7%22%20cy%3D%2297%22%20r%3D%221.3%22%2F%3E%3Ccircle%20cx%3D%2210.7%22%20cy%3D%2282.6%22%20r%3D%221.1%22%2F%3E%3Ccircle%20cx%3D%2210.7%22%20cy%3D%2268.2%22%20r%3D%221%22%2F%3E%3Ccircle%20cx%3D%2210.7%22%20cy%3D%2253.8%22%20r%3D%22.8%22%2F%3E%3Ccircle%20cx%3D%2210.7%22%20cy%3D%2239.4%22%20r%3D%22.7%22%2F%3E%3Ccircle%20cx%3D%2210.7%22%20cy%3D%2224.9%22%20r%3D%22.7%22%2F%3E%3Ccircle%20cx%3D%2210.7%22%20cy%3D%2210.6%22%20r%3D%22.6%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Ccircle%20cx%3D%2210.7%22%20cy%3D%22154.2%22%20r%3D%221.6%22%2F%3E%3Ccircle%20cx%3D%2210.7%22%20cy%3D%22140.1%22%20r%3D%221.6%22%2F%3E%3Ccircle%20cx%3D%2210.7%22%20cy%3D%22168.5%22%20r%3D%221.4%22%2F%3E%3Ccircle%20cx%3D%2210.7%22%20cy%3D%22183%22%20r%3D%221.3%22%2F%3E%3Ccircle%20cx%3D%2210.7%22%20cy%3D%22197.4%22%20r%3D%221.1%22%2F%3E%3Ccircle%20cx%3D%2210.7%22%20cy%3D%22211.8%22%20r%3D%221%22%2F%3E%3Ccircle%20cx%3D%2210.7%22%20cy%3D%22226.2%22%20r%3D%22.8%22%2F%3E%3Ccircle%20cx%3D%2210.7%22%20cy%3D%22240.6%22%20r%3D%22.7%22%2F%3E%3Ccircle%20cx%3D%2210.7%22%20cy%3D%22255.1%22%20r%3D%22.7%22%2F%3E%3Ccircle%20cx%3D%2210.7%22%20cy%3D%22269.4%22%20r%3D%22.6%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
    z-index: -2;
}

article.articlegreen{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 88vw;
    height: 550px;
    margin: 30px auto 15px auto;
    border-radius: 10px;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(1, 103, 98, 0.5) 100%);
}

article.articlegreen:hover{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 92vw;
    height: 570px;
    margin: 30px auto 15px auto;
    border-radius: 10px;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(1, 103, 98, 0.5) 100%);
    transition: 0.5s;
}

article.articlepurple{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 88vw;
    height: 550px;
    margin: 30px auto 15px auto;
    border-radius: 10px;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(70,1,132, 0.7) 100%);
}

article.articlepurple:hover{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 92vw;
    height: 570px;
    margin: 30px auto 15px auto;
    border-radius: 10px;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(70,1,132, 0.7) 100%);
    transition: 0.5s;
}

img.articleimage{
    display: flex;
    position: absolute;
    width: 100%;
    height: 95%;
    z-index: -1;
    left: 0;
    top: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: linear-gradient(0deg, red, #016762);
}

p.upperarticletext{
    display: flex;
    position: relative;
    left: 20px;
    top: 20px;
    font-weight: 300;
    word-spacing: 10px;
}

section.lowerarticletext{
    display: flex;
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    padding-left: 20px;
}

section.textinarticle{
    color: white;
}

h1.textinarticleblueunderline{
    display: flex;
    flex-wrap: wrap;
    margin: 200px 30px 2px 30px;
    width: 380px;
    text-decoration: underline;
    text-decoration-color: #00D6D6;
    text-decoration-style: solid;
}

h1.textinarticleblueunderline:focus{
    border-color: #00D6D6;
    border-style: solid;
    border-width: 4px;
}

h1.textinarticlenounderline{
    display: flex;
    flex-wrap: wrap;
    margin: 200px 30px 2px 30px;
    width: 380px;
}

h1.textinarticlenounderline:focus{
    border-color: #00D6D6;
    border-style: solid;
    border-width: 4px;
}

h1.textinarticleyellowunderline{
    display: flex;
    flex-wrap: wrap;
    margin: 200px 30px 2px 30px;
    width: 380px;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-decoration-style: solid;
}

h1.textinarticleyellowunderline:focus{
    border-color: #00D6D6;
    border-style: solid;
    border-width: 4px;
}

p.textinarticle{
    display: flex;
    flex-wrap: wrap;
    margin: 0 30px 0 30px;
    width: 400px;
    font-weight: 300;
}

p.daypostedposition{
    margin-left: 10px;
    color: darkgray;
    font-weight: 300;
}

a.articlelink{
    color: white;
    text-decoration: none;
    cursor: url('/images/PizzaCursor.png'), auto;
}

section.lowerarticletext a:first-of-type{
    cursor: url('/images/PizzaCursor.png'), auto;
}

section.lowerarticletext a:first-of-type{
    text-decoration: none;
    color: black;
}

img.sharebutton{
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 30px;
    height: 30px;
}

button img.sharebutton{
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 30px;
    height: 30px;
}

button img.sharebutton:focus{
    border-color: #00D6D6;
    border-style: solid;
    border-width: 4px;
    text-decoration: none;
}

/* Begin styling van de 2de pagina */

main.articleinfo article:first-of-type{
    display: flex;
    position: relative;
    height: 300px;
    margin-bottom: 260px;
}

main.articleinfo article:first-of-type img:first-of-type{
    display: flex;
    width: 100%;
    max-width: 100%;
}

main.articleinfo article:first-of-type h1{
    position: absolute;
    top: 270px;
    display: flex;
    width: 440px;
    margin-left: 30px;
    font-size: 40px;
    color: black;
    background-color: #5DF2AE;
}

main.articleinfo article:first-of-type section:first-of-type{
    display: flex;
    width: 50vw;
    height: 50px;
    background-color: black;
    position: absolute;
    margin-top: 443px;
    margin-left: 30px;
    align-items: center;
    justify-content: space-around;
    color: white;
    transform: rotate(0);
    transition: 2s;
}

main.articleinfo article:first-of-type section:first-of-type p:first-of-type{
    color: #5DF2AE;
    width: 110vw;
    padding-left: 5px;
}

main.articleinfo article:first-of-type section:first-of-type:hover{
    display: flex;
    width: 50vw;
    height: 50px;
    background-color: midnightblue;
    position: absolute;
    margin-top: 443px;
    margin-left: 30px;
    align-items: center;
    justify-content: space-around;
    color: white;
    transform: rotate(360deg);
    transition: 2s;
}

main.articleinfo article:first-of-type section:first-of-type p:last-of-type{
    position: relative;
    text-align: right;
    font-weight: 300;
    margin-top: 0;
    color: white;
}
main.articleinfo article:first-of-type p:last-of-type{
    display: flex;
    width: 200px;
    position: absolute;
    color: black;
    margin-left: 30px;
    margin-top: 520px;
    word-spacing: 10px;
}

main.articleinfo section img{
    max-width: 100%;
    margin-top: 10px;
}

main.articleinfo article:last-of-type section p{
    font-family: 'Noto Sans JP', sans-serif;
    margin: 20px 30px 20px 30px;
    font-size: 1em;
    font-weight: 300;
}

/* Vormgeving van Footer */

footer a:first-of-type img{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #002A32;
    width: 250px;
    cursor: url('/images/PizzaCursor.png'), auto;
}

footer img:first-of-type{
    display: flex;
    max-height: 80px;
}

footer ul{
    display: flex;
    width: 400px;
    color: #00D6D1;
    flex-wrap: wrap;
    text-decoration: none;
}

footer li{
    display: flex;
    text-align: left;
    width: 120px;
    margin: 10px 35px 10px 35px;
    font-weight: 300;
    color: #00D6D1;
}

footer a{
    cursor: url('/images/PizzaCursor.png'), auto;
    text-decoration: none;
    color: #00D6D1;
}

footer p {
    margin: 20px auto 0 35px;
    font-size: 18px;
}

footer p:nth-of-type(7){
    display: flex;
    flex-wrap: wrap;
    margin: 10px 45px 0 35px;
    font-weight: 300;
}

footer p:last-of-type{
    display: flex;
    width: 450px;
    height: 50px;
    background-color: #13282C;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

footer img:nth-of-type(1){
    max-width: 300px;
    margin-left: 20px;
    margin-top: 10px;
}

footer img:last-of-type{
    max-width: 500px;
    margin-left: 10px;
}

ul.SocialMedia{
    display: flex;
    width: 100%;
    max-width: 400px;
}

ul.SocialMedia li{
    width: 0;
    max-width: 0;
}

ul.SocialMedia img{
    width: 70px;
    max-width: 70px;
}

article.appadvert{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    max-width: 400px;
    height: 200px;
    max-height: 200px;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
}

img.appadvert{
    display: flex;
    max-width: 80px;
    max-height: 80px;
}

article.appadvert a{
    display: flex;
    width: 100px;
    max-width: 100px;
    margin-left: 30px;
}

article.appadvert a:nth-of-type(2){
    display: flex;
    position: absolute;
    width: 100px;
    max-width: 100px;
    margin-left: 110px;
    margin-top: 100px;
}

/* Einde styling van Footer */

/*Overschrijvingen van zoekbalkje, cursor image en :pseudoclasses*/

section.inputfield.toonInput{
    z-index: 100;
}

a.articlelink{
    z-index: 200;
}

button:focus{
    border-color: #00D6D6;
    border-style: solid;
    border-width: 4px;
}

a:focus{
    border-color: #00D6D6;
    border-style: solid;
    border-width: 4px;
}

li:focus{
    border-color: #00D6D6;
    color: #00D6D6;
    border-style: solid;
    border-width: 4px;
    text-decoration: none;
}

footer a:visited{
    color: #00D6D6;
    text-decoration: none;
}

img:focus{
    border-color: #00D6D6;
    border-style: solid;
    border-width: 4px;
}

a.articlelink:hover{
    border-color: #00D6D6;
    border-style: solid;
    border-width: 4px;
}

a{
    cursor: url('/images/PizzaCursor.png'), auto;
}

button{
    cursor: url('/images/PizzaCursor.png'), auto;
}

